$prefix: admin-;

$navbar-height: 2rem;
$navbar-bg-color: #2e2e2e;

$locker-unlock-btn-width: 5rem;
$side-item-active-border-width: .2rem;

$side-width: 16rem;
$side-close-width: 3rem;

$path-height: 2rem;

$toggle-menu-btn-height: 3rem;

$border-color: #e5e5e5;